
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ff2c07;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primario:      #0C487F;
$secundario:    #00BBCA;
$terciario:     #F1FBF8;
$cuaternario:  #F1FBF8;

$ventana-border:  #F5732E;
$ventana-background: #F5AF3B;
$puerta-border: #F52F22;
$puerta-background: #F55B46;
$pared-border: #000000;
$pared-background:#BFBFBF;


$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (

"primary":    $primary,
"primario":   $primario,
"terciario":  $terciario,
"cuaternario": $cuaternario, 
"secundario": $secundario,
"puerta-border": $puerta-border,
"puerta-background": $puerta-background,
"ventana-border": $ventana-border,
"ventana-background": $ventana-background,
"pared-border": $pared-border,
"pared-background": $pared-background, 
"secondary":  $secondary,
"success":    $success,
"info":       $info,
"warning":    $warning,
"danger":     $danger,
"light":      $light,
"dark":       $dark

);

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6, 
  7: $spacer * 9, 
  8: $spacer * 12,
  9: $spacer * 18,
  10: $spacer * 20,
);



@import"./node_modules/bootstrap/scss/bootstrap.scss"